<section>
    <h1>Carrinho</h1>
</section>
<section class="products">
    <app-shopping-product *ngFor="let produto of products" [produto]="produto"></app-shopping-product>
</section>
<section class="bottom">
    <hr>
    <div class="inputs">
        <div class="cep">
            <input type="text" placeholder="CEP">
            <button>Consultar</button>
        </div>
        <div class="cupom">
            <input type="text" placeholder="Adicionar Cupom">
            <button>Adicionar</button>
        </div>
    </div>
    <div class="total_price">
        <p>Frete: {{frete | currency}}</p>
        <p>Desconto Cupom: R$-5,00</p>
        <p class="total">Total: {{totalPrice| currency}}</p>
    </div>
    <div class="buttons">
        <button class="keep_shopping" routerLink="/produtos">Continuar comprando</button>
        <button class="finish">Finalizar compra</button>
    </div>
</section>
<section class="no_itens">

</section>
