<section>
    <h1>Confirmação de pedido</h1>
    <form class="cadastro" #f="ngForm">
        <p>Dados pessoais</p>
        <input type="text" name="nome" placeholder="nome">
        <input type="tel" name="telefone" placeholder="telefone" mask="(00)00000-0000">
        <input type="text" class="Form-control" placeholder = "cep" id="cep" name="cep" ngModel #cep="ngModel"
      (blur)="consultaCep(cep.value, f)" 
    >
        <!-- <input type="text" name="cep" placeholder="cep" [(ngModel)] = "cep"> -->
        <input type="text" id = "logradouro" name="logradouro" placeholder="logradouro" ngModel #logradouro="ngModel">
        <input type="text" id = "numero" name="numero" placeholder="número">
        <input type="text" name="complemento" placeholder="complemento">
        <input type="text" id = "bairro" name="bairro" placeholder="bairro" ngModel #bairro="ngModel">
        <input type="text" id = "cidade"  name="cidade" placeholder="cidade" ngModel #cidade="ngModel">
        <input type="text" id = "uf" name="uf" placeholder="uf" ngModel #uf="ngModel">
    </form>
    <div class="pagamento">
        <form>
            <p>Forma de pagamento</p>
            <select>
                <option value="">Escolha a forma de pagamento:</option>
                <option value="boleto">Boleto</option>
                <option value="credito">Cartão de crédito</option>
                <option value="debito">Cartão de débito</option>
            </select>
        </form>
        <div class="resumo">
            <p>Resumo</p>
            <div>
                <span>Valor dos produtos:</span><span>{{valorProdutos| currency}}</span>
                <span>Frete:</span><span>{{frete|currency}}</span>
                <span class="total">VALOR TOTAL:</span><span>{{valorTotal | currency}}</span>
            </div>
            <button class="finalizar" (click)="finalizar()">Finalizar</button>
            <button class="voltar" routerLink="/carrinho"> Voltar</button>
        </div>
    </div>
</section>
<div class="approved" *ngIf="aprovado">
    <div class="modal">
        <img src="../../../assets/images/approved.gif" alt="">
        <div>
            <h2>Obrigado pela compra!</h2>
            <h3>Projeto pela equipe</h3>
            <button (click)="irHome()">Ir pro Home</button>
        </div>
    </div>
</div>