footer {
    box-sizing: border-box;
    background-color: #157143;
    height: 60px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    bottom: 0;
    font-family: Nunito, Sans-serif;
    font-weight: 400;
}

footer p {
    max-width: 100%;
    color: #fff;
    
    font-size: 18px;
    text-align: center;
    margin: 0 20px;
}