footer {

    box-sizing: border-box;
    background-color: #157143;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    font-family: Nunito, Sans-serif;
    font-weight: 400;
    padding: 7px 0;
    bottom: 0;
    width: 100vw;
    margin-top: 180px;
}

div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

p,
span {
    max-width: 100%;
    color: #fff;
    text-align: center;
    margin: 0 20px;
}
p {
    font-size: 18px;
}
span {
    font-size: 14px;
}

span a {
    text-decoration: none;
    color: #fff;
}
