<div class="modal">

  <div class="conteudo">
    <div class="close_button">
      <mat-icon class="material-icons-outlined" (click)="closeUpdate()">close</mat-icon>
    </div>
    <h1>Edição Produto</h1>
    <section>
      <div class="cropper">
        <input type="file" (change)="fileChangeEvent($event)" />

        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1/1"
          format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()" [roundCropper]="true"
          [cropperMinWidth]=500></image-cropper>

        <img class="productImageToSave" [src]="croppedImage" />
      </div>

      <form class=>
        <label for="">Codigo Produto:</label>
        <input type="text" name="codigo" placeholder="Digite o código do produto" [(ngModel)]="produto.codigo">
        <label for="">Nome:</label>
        <input type="text" name="nome" placeholder="Digite o nome do produto" [(ngModel)]="produto.nome">
        <label for="">Nome ciêntifico:</label>
        <input type="text" name="cientifico" placeholder="Digite o nome científico do produto" [(ngModel)]="produto.nomeCientifico">
        <label for="">Outro nome:</label>
        <input type="text" name="outrosNomes" placeholder="Digite os demais nomes do produto" [(ngModel)]="produto.outrosNomes">
        <label for="">Valor:</label>
        <input type="number" name="valor" placeholder="Digite o valor do produto" [(ngModel)]="produto.valor">
        <label for="">Valor do Frete:</label>
        <input type="text" name="frete" placeholder="Digite o frete do produto" [(ngModel)]="produto.valorFrete">
        <label for="">Quantidade no estoque:</label>
        <input type="number" name="quantidade_estoque" placeholder="Digite a quantidade do estoque" [(ngModel)]="produto.quantidade_estoque">
        <label for="">Link Imagem:</label>
        <input type="text" name="img" placeholder="Digite o frete do produto" [(ngModel)]="produto.img">
        <label for="">Descrição:</label>
        <textarea name="descricao" placeholder="Digite a descrição do produto" [(ngModel)]="produto.descricao"></textarea>
        <div class="buttons">
          <button (click)="update()" class="update">Concluir</button>
          <button (click)="closeUpdate()" class="voltar">Voltar</button>
        </div>
      </form>
    </section>
  </div>
</div>
