<section>
    <h1>Meu perfil</h1>
</section>
<section class="info">
    <div class="main">
        <input type="text" name="nome" placeholder="nome">
        <input type="text" name="usuario" placeholder="usuário">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="senha" placeholder="senha">
        <input type="tel" name="telefone" placeholder="telefone" mask="(00)00000-0000">
    </div>
    <div class="deliver">
        <input type="text" name="cep" placeholder="cep">
        <input type="text" name="endereco" placeholder="endereco">
        <input type="text" name="numero" placeholder="número">
        <input type="text" name="complemento" placeholder="complemento">
        <input type="text" name="bairro" placeholder="bairro">
        <input type="text" name="cidade" placeholder="cidade">
        <input type="text" name="estado" placeholder="estado">
    </div>
</section>
<section class="adm">
    <app-create-product></app-create-product>
</section>
<section class="posts">

</section>