<section>
    <div class="block">
        <div class="close_button">
            <img class="close" (click)="closeDetails()" src="../../../assets/images/icon-close.png">
        </div>
        <div class="first_part">
            <div class="image">
                <img class="plate" src="../../../assets/images/plate.png">
                <img class="plant" src="../../../assets/images/laterFromBank/Moringa.jpg" alt="Planta Moringa">
            </div>
            <ul>
                <li><img src="../../../assets/images/laterFromBank/care-raw.png" alt=""></li>
                <li><img src="../../../assets/images/laterFromBank/care-leaf.png" alt=""></li>
                <li><img src="../../../assets/images/laterFromBank/care-root.png" alt=""></li>
                <li><img src="../../../assets/images/laterFromBank/care-fruit.png" alt=""></li>
                <li><img src="../../../assets/images/laterFromBank/care-flower.png" alt=""></li>

            </ul>
        </div>
        <div class="second_part">
            <div class="description">
                <div class="names">
                    <h1>{{produto.nome}}</h1>
                    <h2>({{produto.nomeCientifico}})</h2>
                </div>
                <span class="price">{{produto.valor | currency}}</span>
            </div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio numquam sequi nobis reiciendis placeat doloremque ad pariatur, officiis fugiat illo! Vitae, voluptatum quia porro atque sint totam qui nemo incidunt delectus quasi enim maiores fugiat nisi dolore libero autem placeat itaque pariatur facilis voluptatibus vero numquam dolorum corrupti est! Vitae?
            </p>
            <div class="buttons">
                <button class="add" (click)="addToCart()">Adicionar ao carrinho</button>
                <button class="back" (click)="closeDetails()">Voltar</button>
            </div>
        </div>
        <div class="bottom">
            <p>Veja algumas receitas disponíveis na nossa comunidade:</p>
            <ul>
                <li><img src="../../../assets/images/laterFromBank/capuchinha charuto.jpg" alt=""><a>Charuto de Moringa</a></li>
                <li><img src="../../../assets/images/laterFromBank/peixinho frito.jpg" alt=""><a>Moringa empanada</a></li>
                <li><img src="../../../assets/images/laterFromBank/peixinho lasanha.jpg" alt=""><a>Lasanha de Moringa</a></li>
                <li class="size"><img src="../../../assets/images/laterFromBank/peixinho frito.jpg" alt=""><a>Moringa empanada</a></li>
            </ul>
        </div>
    </div>
</section>
