<section>
    <div class="block">
        <div class="close_button">
            <img class="close" (click)="closeDetails()" src="../../../assets/images/icon-close.png">
        </div>
        <div class="first_part">
            <div class="image">
                <img class="plate" src="../../../assets/images/plate.png">
                <img class="plant" src="{{produto.img}}" alt="Planta Moringa">
            </div>
            <ul>
                <li *ngIf="cru"><img src="../../../assets/images/laterFromBank/care-raw.png" alt=""></li>
                <li *ngIf="cozido"><img src="../../../assets/images/laterFromBank/care-cooked.png" alt=""></li>
                <li *ngIf="folha"><img src="../../../assets/images/laterFromBank/care-leaf.png" alt=""></li>
                <li *ngIf="raiz"><img src="../../../assets/images/laterFromBank/care-root.png" alt=""></li>
                <li *ngIf="fruto"><img src="../../../assets/images/laterFromBank/care-fruit.png" alt=""></li>
                <li *ngIf="flor"><img src="../../../assets/images/laterFromBank/care-flower.png" alt=""></li>
                <li *ngIf="semente"><img src="../../../assets/images/laterFromBank/care-seed.png" alt=""></li>

            </ul>
        </div>
        <div class="second_part">
            <div class="description">
                <div class="names">
                    <h1>{{produto.nome}}</h1>
                    <h2>({{produto.nomeCientifico}})</h2>
                </div>
                <span class="price">{{produto.valor | currency}}</span>
            </div>
            <p>
               {{produto.outrosNomes}}<br><br>{{produto.descricao}}
            </p>
            <div class="buttons">
                <button class="add" (click)="addToCart()" *ngIf="disponivel">Adicionar ao carrinho</button>
                <button class="indisponivel" *ngIf="indisponivel">Produto indisponível</button>
                <button class="back" (click)="closeDetails()">Voltar</button>
            </div>
        </div>
        <div class="bottom">
            <p>Veja algumas receitas disponíveis na nossa comunidade:</p>
            <ul>
                <li><img src="{{pancUtilizada[0].img}}" alt="" (click)="clickReceita(pancUtilizada[0])"><a>{{pancUtilizada[0].titulo}}</a></li>
                <li><img src="{{pancUtilizada[1].img}}" alt="" (click)="clickReceita(pancUtilizada[1])"><a>{{pancUtilizada[1].titulo}}</a></li>
                <li><img src="{{pancUtilizada[2].img}}" alt="" (click)="clickReceita(pancUtilizada[2])"><a>{{pancUtilizada[2].titulo}}</a></li>
                <li><img src="{{pancUtilizada[3].img}}" alt="" (click)="clickReceita(pancUtilizada[3])"><a>{{pancUtilizada[3].titulo}}</a></li>
            </ul>
        </div>
    </div>
</section>
