<img class="banner" src="../../../assets/images/banner.jpg" alt="">
<section class="first">
    <div class="text">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Venha conhecer as <b>PANCs</b>(<b>P</b>lantas <b>A</b>limentícias <b>N</b>ão <b>C</b>onvencionais)! Elas trazem mais nutrientes e cores aos pratos do dia-a-dia, vindas das mais diversas fontes e regiões. Além de conhecê-las aqui, você terá a chance de obter mudas para sua horta e colocar seu <span>Jardim na Panela</span> também, com o conhecimento, ingredientes e receitas que irá encontrar aqui!
        </p>
    </div>
    <div class="know_more">
        <p>
            Se você não conhece tanto sobre elas e gostaria de saber mais, vem com a gente!
        </p>
        <img src="../../../assets/images/arrow.png">
    </div>
</section>
<section class="second">
    <p>
        Nosso destaque de receitas enviadas por vocês, colaboradores dessa horta!
    </p>
    <div class="carousel">

    </div>
</section>
