<section>
    <img class="logo" src="../../../assets/images/name.png" alt="Logo Jardim na Panela">
</section>
<section>
    <img class="sideImage" src="../../../assets/images/register.png">
    <div class="signIn">
        <p>Cadastro</p>
          <div>
            <input type="text" placeholder="* nome" name="nome" [(ngModel)]="nome" >
            <h6>{{errosNome}}</h6>
          </div>
          <div>
            <input type="text" placeholder="* sobrenome" name="sobrenome" [(ngModel)]="sobrenome">
            <h6>{{errosSobrenome}}</h6>
          </div>
          <div>
            <input type="text" placeholder="telefone" name="telefone" [(ngModel)]="telefone">
            <h6>{{errosTelefone}}</h6>
          </div>
          <div>
            <input type="text" placeholder="* usuário" name="usuario" [(ngModel)]="usuario">
            <h6>{{errosUsuario}}</h6>
          </div>
          <div>
            <input type="email" placeholder="* email" name="email" [(ngModel)]="email">
            <h6>{{errosEmail}}</h6>
          </div>
          <div>
            <input type="password" placeholder="* senha" name="senha" [(ngModel)]="senha">
            <h6>{{errosSenha}}</h6>
          </div>
          <div>
            <input type="password" placeholder="* confirme sua senha" name="senha" (keyup.enter)="cadastrarUsuario()" [(ngModel)]="senhaConf">
            <h6>{{errosSenha}}</h6>
          </div>
          <button type="submit" (click)="cadastrarUsuario()">Enviar</button>
          
    </div>
</section>
