<section>
    <img class="logo" src="../../../assets/images/name.png" alt="Logo Jardim na Panela">
</section>
<section>
    <img class="sideImage" src="../../../assets/images/register.png">
    <div class="signIn">
        <p>Cadastro</p>
        <input type="text" placeholder="nome">
        <input type="text" placeholder="usuário">
        <input type="email" placeholder="email">
        <input type="password" placeholder="senha">
        <input type="password" placeholder="confirmar senha">
        <button type="submit">Enviar</button>
    </div>
</section>
