<section>
    <div class="plate">
        <img class="base" src="../../../assets/images/plate.png">
        <img class="plant" (click)="openDetails()" src="../../../assets/images/laterFromBank/Moringa.jpg" alt="Imagem da planta">
    </div>
    <div class="description">
        <div class="name">
            <h2>{{produto.nome}}</h2>
            <h3>(acássia)</h3>
        </div>
        <div class="amount">
            <div class="quantity">
                <button class="minus" (click)="diminuirProduto()"*ngIf="(!(produto.quantidade==1));else desativado1">-</button>
                <span>{{produto.quantidade}}</span>
                <button class="add" (click)="adicionarProduto()" *ngIf="(!(produto.quantidade==produto.quantidade_estoque));else desativado">+</button>
            </div>
            <p>{{produto.valor| currency}}</p>
            <img class="remove" (click)="removeFromCart()" src="../../../assets/images/trash.png" alt="">
        </div>
    </div>
</section>


<ng-template #desativado><button class="desativado add " disabled="disabled">+</button></ng-template>
<ng-template #desativado1><button class="desativado minus" disabled="disabled">-</button></ng-template>
