<section>
    <div class="plate">
        <img class="base" src="../../../assets/images/plate.png">
        <img class="plant" src="../../../assets/images/laterFromBank/Moringa.jpg" alt="Imagem da planta">
    </div>
    <div class="description">
        <div class="name">
            <h2>Castanha-do-Maranhão</h2>
            <h3>(acássia)</h3>
        </div>
        <div class="amount">
            <div class="quantity">
                <button class="minus">-</button>
                <span>10</span>
                <button class="add">+</button>
            </div>
            <p>R$40,00</p>
            <img class="remove" src="../../../assets/images/trash.png" alt="">
        </div>
    </div>
</section>
