<section>
    <h1>Produtos</h1>
    <div class="products">
        <app-product (onOpenDescription)="showDetails($event)" *ngFor="let produto of produtosExibidos" [produto]="produto"  (onDelete)="atualizarPagina()"></app-product>
    </div>
</section>
<app-product-detail (onCloseDescription)="closeDetails()" *ngIf="viewDetails" [produto]="produtoSelecionado"></app-product-detail>

<mat-paginator class="paginacao"
[length]="produtos.length"
[pageSize]="6"
[pageSizeOptions]="[6,9,12]"
(page)="OnPageChange($event)">
</mat-paginator>



