<section>

    <mat-icon aria-hidden="false" aria-label="Example home icon" class="lixeira" (click)="delete()">delete</mat-icon>

    <div class="plate">
        <img class="base" src="../../../assets/images/plate.png">
        <img class="plant" src="../../../assets/images/laterFromBank/Moringa.jpg" alt="Imagem da planta">

    </div>
    <div class="description">
        <h2>{{produto.nome}}</h2>
        <h3>({{produto.nomeCientifico}})</h3>
        <p>{{produto.valor | currency}}</p>
        <div class="buttons">
            <button class="add" (click)="addToCart()">Adicionar ao carrinho</button>
            <button class="details" (click)="openDetails()">Ver detalhes</button>
        </div>
    </div>
</section>
