<app-header></app-header>
<router-outlet></router-outlet>
<app-cookies></app-cookies>
<app-footer></app-footer>
<!-- <form class="cadastro" #f="ngForm">
    <input type="text" class="Form-control" placeholder = "cep" id="cep" name="cep" ngModel #cep="ngModel"
  (blur)="consultaCep(cep.value, f)" >
    <input type="text" id = "logradouro" name="logradouro" placeholder="..." ngModel #logradouro="ngModel" disabled>
    <input type="text" id = "bairro" name="bairro" placeholder="..." ngModel #bairro="ngModel" disabled>
    <input type="text" id = "cidade"  name="cidade" placeholder="..." ngModel #cidade="ngModel" disabled>
    <input type="text" id = "uf" name="uf" placeholder="..." ngModel #uf="ngModel" disabled>
</form> -->