<img class="banner" src="../../../assets/images/banner.jpg" alt="Banner Jardim na Panela">
<section>
    <div class="first">
        <div class="text">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Aqui no <b>Jardim na Panela</b> vamos falar sobre <b>PANCs</b>! Mas o que são essas PANCs? São <b>P</b>lantas <b>A</b>limentícias <b>N</b>ão <b>C</b>onvencionais, ou seja, aquele mato, planta, fruta que você fica cara a cara com eles e não sabia que poderiam ser ingeridos ou utilizados na culinária. Estima-se que há 30.000 espécies com potencial alimentício, 12.500 catalogadas, sendo que 7.000 foram utilizadas ao longo da História. Atualmente, 90% do alimento mundial vem de apenas 20 espécies.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Mas aquilo que é PANC para minha região pode ser uma planta de consumo regular em outra! Essa diversidade tem vários motivos, desde a colonização dos europeus e inserção das sementes de consumo destes, como também a falta de conhecimento, que foi se perdendo de geração em geração e torna o comestível apenas aquilo que já nos é...bem...<b>Convencional</b>! Por exemplo, plantas como Ora-pro-nóbis são comuns no consumo mineiro em certas regiões, mas já não tão comuns para os demais brasileiros. “Ah, mas só tem planta esquisita?” A resposta é: Não! Alimentos como brócolis, couve-flor, abacaxi já foram PANCs, e ainda são para alguns lugares!
            </p>
        </div>
        <img src="../../../assets/images/clitoria.jpg" alt="">
    </div>
</section>
<section>
    <div class="second">
        <img src="../../../assets/images/capuchinha.jpg" alt="">
        <div class="text">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Entender o cultivo de diferentes plantas em seus ambientes naturais pode ajudar a esclarecer um pouco as coisas, afinal, nem toda planta gosta de água abundante e sol todos os dias. Plantas mais resistentes às mudanças climáticas, ou que crescem em regiões de solos “improdutivos”, podem ser a solução na nutrição e alimentação de muitas pessoas.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Uma planta chamada Peixinho pode fornecer Proteínas, outra chamada Azedinha pode trazer o Ferro, já a folha da Batata-Doce traz antioxidantes. Outras plantas podem trazer cores diferentes e divertidas para os alimentos diários: a flor da Clitória pode se tornar um corante azul quando desidratada, ou se desejar adicionar algumas gotas de limão, ela se tornará um corante cor-de-rosa. Cada região tem plantas que nascem espontaneamente ou que necessitam do cultivo, e podemos potencializar nossa nutrição se dermos ouvidos e abrirmos os olhos para a natureza ao nosso redor.
            </p>
        </div>
    </div>
</section>
<section>
    <div class="third">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Não ser convencional não torna menos digna de atenção essas verdinhas, que nem sempre são tão verdinhas! Levar a vocês informações, cuidados, receitas e troca de figurinhas é o objetivo do Jardim na Panela! Traga seu livro de receitas ou caderninho e faça parte desta hortinha!
        </p>
        <carousel
        [images]="images"
        [loop]="true"
        [autoplay]="true"
        [autoplayInterval]="1000"
        [transitionDuration]="1000"
        [height]="150"
        [cellWidth]="200"
        >
        </carousel>
    </div>
</section>
