<section>
    <img class="logo" src="../../../assets/images/name.png" alt="Logo Jardim na Panela">
</section>
<section>
    <img class="sideImage" src="../../../assets/images/login.png">
    <div class="login">
        <p>Login</p>
        <input type="text" placeholder="usuário" name="usuario"[(ngModel)]="usuario">
        <input type="password" placeholder="senha" [(ngModel)]="senha">
        <button type="submit" (click)="login()">Entrar</button>
        <span routerLink="/cadastrar">Ainda não tenho cadastro</span>
    </div>
</section>
