.container{
  display:flex;
  justify-content:center;
  align-items:center;
  width: 96%;

}
div{
  margin: 0 auto;
  width: 96vw;
  margin: 100px auto;
}
.button-visualizar{
  margin: 30px auto;
  background-color: rgba(191, 143, 19, 1);
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  width: 30%;
  font-size:16px;
  border: none;

}

.button-visualizar:hover{
  background-color: rgba(191, 143, 19, 0.7);
}
