.container{
  display:flex;
  flex-direction: column;
  align-items:center;
  width: 1200px;
  max-width: 90%;
  margin: 30px auto;
}

.button-visualizar{
  margin: 30px 10px;
  background-color: rgba(191, 143, 19, 1);
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  width: 350px;
  max-width: 100%;
  font-size: 16px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.button-visualizar:hover{
  background-color: rgba(191, 143, 19, 0.7);
}

section {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}
.container section app-post {
  max-width: 100%
}

.paginacao{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.search {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  width: 400px;
  height: 30px;
  /* border-radius: 10px 0 0 10px ; */
  border: solid 0.5px rgba(0, 0, 0, 0.5);
}

.search input::placeholder {
  padding-left: 20px;
}

input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.search button {
  background-color: #157143;
  color: white;
  /* padding: 9.5px; */
  padding: 5.5px 20px;
  border: none;
  border-radius: 0px 10px 10px 0;
  cursor: pointer;
}

.search button img {
    height: 20px
}

.search button:hover {
  opacity: 0.9;
}

.search .limparPesquiisa{
  border-radius: 10px 0px 0px 10px ;
  height: 34px;

}

@media (max-width: 550px) {
  .search input {
      width: 70%;
  }
}
