<section>
    <div class="signIn">
        <p>Postagem</p>
        <input type="text" placeholder="titulo" name="titulo">
        <textarea placeholder="texto"></textarea>
        <input type="text" placeholder="tempo de preparo" name="tempo de preparo">
        <input type="number" placeholder="rendimento" name="rendimento">
        <input type="number" placeholder="referencias" name="referencias">
        <input type="file" placeholder="imagem" name="imagem">
        <button type="submit">Enviar</button>
    </div>
</section>
