<section>
    <div class="signIn">
        <p>Receita</p>
        <input type="text" placeholder="titulo" name="titulo" [(ngModel)]="titulo">
        <input type="number" placeholder="tempo de preparo" name="tempo de preparo" [(ngModel)]="preparo">
        <input type="number" placeholder="rendimento" name="rendimento" [(ngModel)]="porcao">
        <input type="text" placeholder="planta utilizada" name="referencias" [(ngModel)]="referencias">
        <span *ngFor="let ingradiente of ingredientes; let i = index; trackBy: track;">
          <input type="text"  placeholder="ingrediente" name="ingrediente_{{i}}" [(ngModel)]="ingredientes[i]">
          <button *ngIf="i==0" (click)="addIngradiente()" class="controllers" class="add">+</button>
          <button *ngIf="i!=0"(click)="removeIngrediente(i)" class="controllers" class="remove">-</button>
        </span>
        <textarea placeholder="modo de preparo" [(ngModel)]="texto"></textarea>
        <input type="text" placeholder="link da imagem" name="referencias" [(ngModel)]="img">
        <button class=" enviar" type="submit" (click)="criarPostagem()">Enviar</button>
    </div>
</section>
