section {
    padding: 40px;
    box-sizing: border-box;
    margin: 30px auto;
    width: 1000px;    
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.signIn {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 100%
}

p {
    margin-bottom: 35px;
    color: #BF8F13;
    font-family: Nunito, Sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

input, textarea, span input {
    background: #FFFFFF;
    font-family: Nunito, Sans-serif;
    font-size: 16px;
    border: 1px solid #686868;
    margin-bottom: 15px;
    height: 32px;
    padding: 0 7px;
    max-width: 100%;
}

textarea{
    height: 100px;
    text-overflow: ellipsis;
    resize: none;
}

button {
    font-family: Nunito, Sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #FFF;
    text-transform: lowercase;
    border: none;
    cursor: pointer;
    max-width:100%
}
span input {
    width: 100%;
}

span {
    color: #7B6464;
    font-family: Nunito, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: lowercase;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
button.add {
    background-color: #608d35;
    border-radius: 100%;
    padding: 6px 12.3px;
}
button.remove {
    background-color: #da1212;
    border-radius: 100%;
    padding: 6px 13.6px;
}
button.enviar {
    background: #BF8F13;
    margin: 0 auto;
    width: 245px;
    height:34px;
}
