<nav>
  <div class="container">
    <div>
      <h1>
        <img src="assets\logo-white 1.png" alt="" class="logo">
      </h1>
    </div>
    <ul class="rotas">
      <li><a routerLink="produtos">Produto</a></li>
      <li><a routerLink="comunidade">Comunidade</a></li>
      <li><a routerLink="">Sobre nos</a></li>
    </ul>
    <div class="login">
      <img src="assets\Vector.png" alt="" class="icone">
      <img src="assets\login.png"class="icone">
      <img src="assets\cart.png" alt="" class="icone">
    </div>
  </div>
</nav>
