<div>
  <section>
    <article class="img">
      <h1>Lambari da Horta</h1>
      <img
        src="../../../assets/images/lambari-da-horta.jpg"
        alt=""
        draggable="false"
      />
    </article>
    <article class="infos">
      <div>
        <img src="../../../assets/images/clock.png" alt="" draggable="false" />
        <h5>Preparo</h5>
        <h6>50 min</h6>
      </div>
      <div>
        <img src="../../../assets/images/cloche.png" alt="" draggable="false" />
        <h5>Rendimento</h5>
        <h6>5 porções</h6>
      </div>
      <div>
        <img src="../../../assets/images/heart.png" alt="" draggable="false" />
        <h5>Curtidas</h5>
        <h6>500</h6>
      </div>
      <div>
        <img src="../../../assets/images/comentario.png" alt="" />
        <h5>Comentários</h5>
        <h6>200</h6>
      </div>
    </article>
    <article class="ingredients">
      <h2>Ingredientes</h2>
      <ul>
        <li>ingrediente 1</li>
        <li>ingrediente 2</li>
        <li>ingrediente 3</li>
        <li>ingrediente 4</li>
        <li>ingrediente 5</li>
      </ul>
    </article>
    <article class="preparation">
      <h2>Modo de preparo</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
        tempore aliquid a delectus? Consectetur ipsa eveniet blanditiis quam in
        recusandae nostrum excepturi ipsam dolores corporis ratione, aspernatur
        illum sapiente suscipit nisi laboriosam ducimus voluptas consequatur
        unde veniam iste commodi dolorum? Molestiae nihil nobis itaque unde est
        eaque illo eum voluptas corporis blanditiis! Sint esse sunt explicabo,
        aut quisquam, labore eum reprehenderit ad hic aliquam accusantium
        voluptas velit, accusamus saepe! Veniam nulla architecto molestiae
        sequi, maiores libero et magni commodi aperiam odit! Eum, eligendi
        reprehenderit aliquam neque modi nobis accusamus et quo ducimus vero vel
        sint delectus atque. Voluptas quaerat voluptate perspiciatis modi odio
        alias eaque nesciunt error quas sequi quisquam quidem perferendis aut
        atque iure nemo voluptatem labore itaque, voluptatum doloremque, porro
        et sint amet. Facilis, inventore quas atque assumenda, rerum
        exercitationem incidunt placeat a ex, blanditiis iure. Repudiandae nulla
        obcaecati consequuntur voluptates libero. Laborum odit officiis
        asperiores consequuntur dolores?
      </p>
    </article>

    <article class="send-comment">
      <textarea placeholder="Deixe seu comentário"></textarea>
      <button type="submit">Enviar</button>
    </article>

    <article>
      <h2>Comentários</h2>
      <div class="comments">
      <div class="infos-comment">
        <h3>Jonathan Brant</h3>
        <p>08/11/2021</p>
      </div>
      <div>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          dolorum aliquam laboriosam praesentium modi, esse placeat doloribus
          cum vero dolor ipsam voluptatem numquam. At sit ut praesentium
          molestiae laborum itaque soluta laudantium quo quidem inventore. Ipsa
          culpa quas reprehenderit eos quae, nulla error ratione aut maxime
          perspiciatis, harum in sint quaerat exercitationem quo hic aliquam
          accusantium. Beatae, eaque modi eveniet, ipsam, placeat ea itaque
          debitis tempora facere voluptatem dolorem. Dicta, consequatur
          consequuntur quisquam possimus quidem facere recusandae temporibus
          delectus tenetur vitae? Deserunt quis, saepe dolores repellat nobis
          facere officiis minima aperiam ipsum sequi amet asperiores modi, nemo
          facilis, ducimus non!
        </p>
      </div>
    </div>

    <div class="comments">
      <div class="infos-comment">
        <h3>Jonathan Brant</h3>
        <p>08/11/2021</p>
      </div>
      <div>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          dolorum aliquam laboriosam praesentium modi, esse placeat doloribus
          cum vero dolor ipsam voluptatem numquam. At sit ut praesentium
          molestiae laborum itaque soluta laudantium quo quidem inventore. Ipsa
          culpa quas reprehenderit eos quae, nulla error ratione aut maxime
          perspiciatis, harum in sint quaerat exercitationem quo hic aliquam
          accusantium. Beatae, eaque modi eveniet, ipsam, placeat ea itaque
          debitis tempora facere voluptatem dolorem. Dicta, consequatur
          consequuntur quisquam possimus quidem facere recusandae temporibus
          delectus tenetur vitae? Deserunt quis, saepe dolores repellat nobis
          facere officiis minima aperiam ipsum sequi amet asperiores modi, nemo
          facilis, ducimus non!
        </p>
      </div>
    </div>

    <div class="comments">
      <div class="infos-comment">
        <h3>Jonathan Brant</h3>
        <p>08/11/2021</p>
      </div>
      <div>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          dolorum aliquam laboriosam praesentium modi, esse placeat doloribus
          cum vero dolor ipsam voluptatem numquam. At sit ut praesentium
          molestiae laborum itaque soluta laudantium quo quidem inventore. Ipsa
          culpa quas reprehenderit eos quae, nulla error ratione aut maxime
          perspiciatis, harum in sint quaerat exercitationem quo hic aliquam
          accusantium. Beatae, eaque modi eveniet, ipsam, placeat ea itaque
          debitis tempora facere voluptatem dolorem. Dicta, consequatur
          consequuntur quisquam possimus quidem facere recusandae temporibus
          delectus tenetur vitae? Deserunt quis, saepe dolores repellat nobis
          facere officiis minima aperiam ipsum sequi amet asperiores modi, nemo
          facilis, ducimus non!
        </p>
      </div>
    </div>

    <div class="comments">
      <div class="infos-comment">
        <h3>Jonathan Brant</h3>
        <p>08/11/2021</p>
      </div>
      <div>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          dolorum aliquam laboriosam praesentium modi, esse placeat doloribus
          cum vero dolor ipsam voluptatem numquam. At sit ut praesentium
          molestiae laborum itaque soluta laudantium quo quidem inventore. Ipsa
          culpa quas reprehenderit eos quae, nulla error ratione aut maxime
          perspiciatis, harum in sint quaerat exercitationem quo hic aliquam
          accusantium. Beatae, eaque modi eveniet, ipsam, placeat ea itaque
          debitis tempora facere voluptatem dolorem. Dicta, consequatur
          consequuntur quisquam possimus quidem facere recusandae temporibus
          delectus tenetur vitae? Deserunt quis, saepe dolores repellat nobis
          facere officiis minima aperiam ipsum sequi amet asperiores modi, nemo
          facilis, ducimus non!
        </p>
      </div>
    </div>
    
    </article>
  </section>
</div>
