<div>
  <section>
    <article class="img">
      <h1></h1>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class=".lixeira" (click)="delete()">delete</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class=".update">edit</mat-icon>
      <img
        src="../../../assets/images/lambari-da-horta.jpg"
        alt=""
        draggable="false"
      />
    </article>
    <article class="infos">
      <div>
        <img src="../../../assets/images/clock.png" alt="" draggable="false" />
        <h5>Preparo</h5>
        <h6>50 min</h6>
      </div>
      <div>
        <img src="../../../assets/images/cloche.png" alt="" draggable="false" />
        <h5>Rendimento</h5>
        <h6>5 porções</h6>
      </div>
      <div>
        <img src="../../../assets/images/heart.png" alt="" draggable="false" />
        <h5>Curtidas</h5>
        <h6>500</h6>
      </div>
      <div>
        <img src="../../../assets/images/comentario.png" alt="" />
        <h5>Comentários</h5>
        <h6>200</h6>
      </div>
    </article>
    <article class="ingredients">
      <h2>Ingredientes</h2>
      <ul>
        <li>ingrediente 1</li>
        <li>ingrediente 2</li>
        <li>ingrediente 3</li>
        <li>ingrediente 4</li>
        <li>ingrediente 5</li>
      </ul>
    </article>
    <article class="preparation" >
      <h2>Modo de preparo</h2>
      <p>
        {{postagem.texto}}
      </p>
    </article>
    <article class="send-comment">
      <input type="text" name="tituloComentario" placeholder="Titulo do comentário" [(ngModel)]="title">
      <textarea placeholder="Deixe seu comentário" [(ngModel)]="body"></textarea>
      <button type="submit" (click)="criarComentario()">Enviar</button>
    </article>
    <article>
      <h2>Comentários</h2>
      <div class="comments">
      <div class="comentario" >
        <div class="infos-comment" >
          <h3></h3>
          <p>08/11/2021</p>
        </div>
        <div>
          <p class="text">

          </p>
        </div>
      </div>
    </div>
    </article>
  </section>
</div>
